smart_clean = true
smart_clean_threshold = 3
version = 5

[[custom_processors.preprocessors]]
cli_args = ["-t", "latex", "--listings"]
name = "Enable Listings"

[[custom_processors.preprocessors]]
cli_args = ["-s", "-t", "man", "--metadata-file", "man_metadata.yaml"]
name = "Man Page"

[[custom_processors.preprocessors]]
cli_args = ["--to", "html5", "--metadata", "title={{title}}", "--metadata", "author={{author}}", "--css", "/TiefDownConverter/template/html_template/style.css"]
name = "HTML Conversion"

[[custom_processors.preprocessors]]
cli = "cat"
cli_args = []
extension_filter = "html"
name = "HTML Direct Copy"

[[custom_processors.processors]]
name = "HTML Conversion"
processor_args = ["--to", "html5", "-s", "--metadata", "title={{title}}", "--metadata", "author={{author}}", "--css", "/TiefDownConverter/template/html_template/style.css", "--toc", "-B", "html_template/header.html"]

[[custom_processors.processors]]
name = "Typst Font Directory"
processor_args = ["--font-path", "fonts/"]

[[injections]]
files = ["footer.html"]
name = "HTML footer"

[[injections]]
files = ["head.html", "nav.md", "head2.html"]
name = "HTML header"

[[markdown_projects]]
default_profile = "Documentation"
name = "CLI Docs"
output = "cli"
path = "cli_markdown"
resources = ["resources/"]

[markdown_projects.metadata_fields]
githubPagesDocsPath = "cli/"

[[markdown_projects]]
default_profile = "Documentation"
name = "LIB Docs"
output = "lib"
path = "lib_markdown"
resources = ["resources/"]

[markdown_projects.metadata_fields]
githubPagesDocsPath = "lib/"

[[markdown_projects]]
default_profile = "Man"
name = "man"
output = "man"
path = "man_markdown"

[[markdown_projects]]
default_profile = "Index HTML"
name = "Index HTML"
output = "."
path = "index_markdown"

[markdown_projects.metadata_fields]
githubPagesDocsPath = "/"

[metadata_settings]

[[profiles]]
name = "Documentation"
templates = ["PDF Documentation LaTeX", "PDF Documentation", "Epub Documentation", "GitHub Multi Page Documentation"]

[[profiles]]
name = "Man"
templates = ["Man Page"]

[[profiles]]
name = "Index HTML"
templates = ["GitHub Single File Documentation"]

[shared_metadata]
author = "Tiefseetauchner et al."
githubPagesUrl = "https://tiefseetauchner.github.io/TiefDownConverter/"
title = "TiefDownConverter Documentation"

[[templates]]
filters = ["luafilters/chapter_filter.lua"]
name = "PDF Documentation LaTeX"
template_file = "docs.tex"
template_type = "Tex"

[templates.preprocessors]
combined_output = "output.tex"
preprocessors = ["Enable Listings"]

[[templates]]
name = "PDF Documentation"
processor = "Typst Font Directory"
template_file = "docs.typ"
template_type = "Typst"

[templates.preprocessors]
combined_output = "output.typ"
preprocessors = ["Typst Font Directory"]

[[templates]]
name = "Epub Documentation"
template_file = "prim_epub"
template_type = "Epub"

[[templates]]
name = "Man Page"
output = "tiefdownconverter.1"
template_type = "CustomPreprocessors"

[templates.preprocessors]
combined_output = "tiefdownconverter.1"
preprocessors = ["Man Page"]

[[templates]]
filters = ["luafilters/mega_replacer_filter.lua"]
footer_injections = ["HTML footer"]
header_injections = ["HTML header"]
multi_file_output = true
name = "GitHub Multi Page Documentation"
output = "documentation"
template_type = "CustomPreprocessors"

[templates.nav_meta_gen]
feature = "Full"

[templates.preprocessors]
output_extension = "html"
preprocessors = ["HTML Conversion", "HTML Direct Copy"]

[[templates]]
filters = ["luafilters/mega_replacer_filter.lua"]
footer_injections = ["HTML footer"]
header_injections = ["HTML header"]
name = "GitHub Single File Documentation"
output = "index.html"
template_type = "CustomPreprocessors"

[templates.preprocessors]
combined_output = "index.html"
output_extension = "html"
preprocessors = ["HTML Conversion", "HTML Direct Copy"]
